/* PAGE FRONT-PAGE // ACCUEIL */
/************//************//************//************/

/************//************//************//************/


// SECTIONs génériques
////////////////////////////////////////////////////////
// L'INTRO
section.jumbo {
	.make-lg-column(12);
	div.jumbotron {
		.make-md-column(8);
		.make-lg-column(8);
		// SLOGAN + SIGNATURE
		.slogan-conseil {
			.make-sm-column(7);
			// le slogan
			blockquote {
				h1 {
					font-size:1.5em;
					.text-left() !important;
				}
			}
		}
		.slogan-gilles {
			.make-sm-column(5);
			.br_flexcentercenter;
			.flexthat {
				padding:3em 0;
			}
			// La signature
			h1.nom,
			h3.fonction {
				.text-center();
				margin:0 auto;
				position:relative;
			}
			h1.nom {
				color:@white;
			 	font-family:@shareTech;
			 	font-size:52px;
			 	text-shadow:-1px 0 0 @red;
			}

			h3.fonction {
				font-weight:100;
				color:@bg-white;
				padding-bottom:0;
				margin:0 auto;
				margin-top:0em;

				strong {
					font-weight:300;
				}
				span.domaine {
					font-size:@font-size-large;
					font-family:@shareTech;
					font-weight:400;
					color:@red;
					line-height:1.2em;
					margin-bottom:0.32em;
					display:block;
					text-transform:uppercase;
				}
			}
		}

	}
} // end SECTION.intro

/************//************//************//************/
// SECTIONs EXCLUSIVES A CETTE PAGE :
////////////////////////////////////////////////////////
// La section qui présente les icones de services
section.services {
  div.messervices {
  	.make-sm-column(12);
		.make-sm-column-pull(0);
  	.make-md-column(8);
  	.make-md-column-push(4);

		div.panel {
			.make-sm-column(4);


		  h2.panel-title {
		  	text-shadow:-2px 1px 2px @bg-black;
		  }
    	.panel-body {
    		// Je masque la description des services en page d'accueil
				.hidden();
			}
		}
	}
	div.monexperience {
		.make-sm-column(12);
		.make-sm-column-pull(0);
		.make-md-column(4);
		.make-md-column-pull(8);
	}

	// BOUTON En savoir plus
	a.btn-info {
		.make-sm-column(6);
		.make-sm-column-push(3);
	}
} // end SECTION.services
////////////////////////////////////////////////////////
// La section qui présente le carousel de portfolio
// Styles principalement présents dans bs_carousels.less
section.portfolio {
	dl {
		dt {
			font-size:@font-size-large;
			line-height:1.2em !important;
			margin:0.5em 0;
			em {
				color:@red !important;
			}
		}
		dd { padding-bottom:2em; }
	}

	div.experiences {
		.make-sm-column(4);
		.make-sm-column-push(2);
		.shadow-paragraph;
	}
	div.lecarousel {
		.make-sm-column(4);
		.make-sm-column-push(2);
	}

	// BOUTON Consulter le portfolio
	a.btn-info {
		.make-sm-column(6);
		.make-sm-column-push(3);
	}
} // end SECTION.portfolio
////////////////////////////////////////////////////////
// La section qui présente les logos de clients
section.clients {

	.lesclients {
		.make-md-column(7);
		.make-md-column-pull(5);
		.logo-client {
			//.make-xs-column(12);
			.make-sm-column(4);
			padding:0; margin:0; text-align:center;
			span.imageclient {
				width:150px;
				display:block;
				height:150px;
				text-align:center center;
				margin:0 auto;
				border:2px dotted @blue;
				border-bottom-color:@red;
				.border-top-radius(80px);
				.border-bottom-radius(80px);
				background-repeat:no-repeat;
				background-image:url("/wp-content/themes/rock-gilleshoarau/img/clients.png");
				&.andra {
					background-position:top left;
				}
				&.centrehospitalier {
					background-position:top center;
				}
				&.marchedeshalles {
					background-position:top right;
				}
				&.aube {
					background-position:0px -150px;
				}
				&.grandtroyes {
					background-position:-150px -150px;
				}
				&.troyesexpocube {
					background-position:-300px -150px;
				}
				&.grdf {
					background-position:0 -300px;
				}
				&.mcdonalds {
					background-position:-150px -300px;
				}
				&.nigloland {
					background-position:-300px -300px;
				}
				&.champagne-clerambault {
					background-position:0 -450px;
				}
				&.champagne-jacques-chaput {
					background-position:-150px -450px;
				}
				&.champagne-philippe-fourrier {
					background-position:-300px -450px;
				}
				&.reims {
					background-position:0 -450px;
				}
				&.foyer-remois {
					background-position:-150px -450px;
				}
				&.plurial {
					background-position:-300px -450px;
				}
			}
			img {
				margin: 0 auto;
				margin-bottom: 1.5em;
			}
		}
	}
	.satisfaits {
		.make-md-column(5);
		.make-md-column-push(7);
	}
}
