/* style/STRUCTURE/sections */
/* Ne pas ajouter de margin, padding dans ces classes.
/* Les déclarations ne doivent concerner que la structure Bootstrap.
*********************************************************************/

@import "structures/header.less";
@import "structures/sidebar.less";


.galaxie { .make-row(); .clearfix(); }
.column { .make-lg-column(12) }

.col-a { .make-column-lg(1); }
.col-b { .make-column-lg(2); }
.col-c { .make-column-lg(3); }
.col-d { .make-column-lg(4); }
.col-e { .make-column-lg(5); }
.col-f { .make-column-lg(6); }
.col-fa { .make-column-lg(7); }
.col-fb { .make-column-lg(8); }
.col-fc { .make-column-lg(9); }
.col-fd { .make-column-lg(10); }
.col-fe { .make-column-lg(11); }
.col-ff { .make-column-lg(12); }

/*****************************************************/

/* Components */
nav.navbar {
	.navbar-form { padding:@padding-base-vertical @padding-base-horizontal; }
}
footer {

}
ol.breadcrumb {
	.clearfix();
}

/* Header */
header.header {
	.make-xs-column(12);
}

aside.aside {	
	.make-xs-column(12);
}

aside.widget, section.widget {
	.make-xs-column(12);
}

section.content {
	.make-xs-column(12);
}

aside.aside-right {	
	.make-xs-column(12);
}

/* Footer */
footer.footer {
	.make-xs-column(12);
	@import "structures/footer.less";
}

@import "articles/default.less"; /* Tous les éléments inclus dans une SIDEBAR : widgets, etc... */
/************************************************************************/

#pbd-alp-load-posts { .center-block(); }

#guide .panel-footer {
	padding:0;
	
	ul {
	margin:0;
	padding:0;
	font-size:@font-size-small/1.4;
		
		li {
			padding:0;
			list-style:none;
			margin:0;
			
			a {
				display:block;
				#gradient > .vertical(#fefefe, #efefef);
				border-bottom:1px solid #efefef;
				padding:@padding-small-vertical  @padding-small-horizontal;
				line-height:@line-height-small/1.125;
				
				&:hover {
					#gradient > .vertical(lighten(#fefefe,10%), lighten(#efefef,10%));
				}
			}
			
			li a { padding-left:@padding-large-horizontal; }
		}
	}
}
