@import "../style/variables_default.less";
@import "../style/variables_couleurs.less";

canvas {
  font-family: 'VT323';
display: block;
margin: 0 auto;
border:1px dotted @brand-warning;
background-color: @bg-darker;//#829b85;
margin-top:5px;
}
body {
  //background-color: @bg-dark;//#829b85;
  padding-top:30px;
  hr {
    border:1px solid @bg-dark;
    clear:both;
  }
  .tab-content {
    padding-bottom:30px;
    padding-top:30px;
    .tab-pane {
      padding-top:30px;
      padding-bottom:30px;
    }
  }
  #home {
    background-color: @bg-dark;//#829b85;
  }
  .soumettre {
    display:none;
  }
  table#leaderboardTable {
    tr:nth-child(2) {
      h4 {
        font-size:6em;
      }
    }
    tr:nth-child(3) {
      h4 {
        font-size:4em;
      }
    }
    tr:nth-child(4) {
      h4 {
        font-size:4em;
      }
    }
    tr:nth-child(5) {
      h4 {
        font-size:2em;
      }
    }
    tr:nth-child(6) {
      h4 {
        font-size:2em;
      }
    }
  }
}

/*LEADERBOARD*/

.entername {
  width:100%;
  margin:0 auto;


  text-align:center;

  input {
    color:@bg-darker;
    text-align:center;
  }
  input.leaderboard-score {
    color:@brand-warning;
    background-color: @bg-darker;//#829b85;
    border:1px solid #172516;
    font-weight:700;
    cursor:pointer;
    font-family:@shareTech;
    background:transparent;
    border:none;
    font-size:4em;
    display:block;
    width:100%;
  }
  input.leaderboard-distance {
    color:@brand-info;
    background-color: @bg-darker;//#829b85;
    border:1px solid #172516;
    font-weight:700;
    cursor:pointer;
    font-family:@shareTech;
    background:transparent;
    border:none;
    font-size:2em;
    display:block;
    width:100%;
  }
}


.example-leaderboard {
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
padding: 20px;
border-radius: 5px;
background-color: white;
overflow: auto;
color: #666; }
.example-leaderboard table {
border-radius: 3px;
margin-bottom: 20px;
width: 100%;
border-collapse: collapse; }
.example-leaderboard table th {
background: #EEE;
border-bottom: 1px solid #CCC;
font-size: 12px;
color: #999;
padding: 5px 10px;
text-align: left; }
.example-leaderboard table td {
border-bottom: 1px solid #EEE;
padding: 10px;
color: #28a562; }
.example-leaderboard table td em {
font-style: normal;
font-weight: bold;
color: #666; }
.example-leaderboard table tr:first-child td {
background: green; }
.example-leaderboard input {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 0px 10px;
height: 30px;
font-size: 18px;
font-weight: normal;
outline: none;
border: 1px solid #CCC; }
.example-leaderboard input.example-leaderboard-name {
width: 186px;
margin-right: 10px; }
.example-leaderboard input.example-leaderboard-score {
width: 300px; }

#highestscore {
margin-top: 20px;
font-size: 14px; }

/* Presence */
#presenceDiv {
text-align: center; }

/* Tetris */
.tetris-body {
width: 600px; }

#canvas0, #canvas1 {
display: inline-block;
border: 4px solid #424547; }

#restartButton {
margin-top: 5px; }

#gameInProgress {
font-size: 14px; }
